body {
    font-family: 'Sono', sans-serif;
  }

  .pricing-container{
    display: flex;
  }
  .pricing-plan ul{
    text-align: center;
    list-style: none;
  }
  
  
  
  
  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    /* .pricing-container{
        display: flex;
        flex-direction: column;
    } */
  }