.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section{
  margin: 0;
  padding: 0px;
}

h2 {
  text-align: center;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

#title{
  margin: 0;
}
#title > .container{
  height: 100%;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  padding-top:3rem;
  margin: 0!important;
  border: 0!important; 
}

#hanging-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-button{
  border: 1px solid gray;
}

#first-title{
  font-size: 3rem;
}

#testimonial > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2rem solid #f8f9fa;
}

#testimonial {
  border-top: 2rem solid #f8f9fa;
}


#dog{
  border-radius: 50%;
  margin-top: 3rem;
  margin-bottom: 2px;
}

